## Autoregression Model

In [8]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import scipy.stats as ss

# Make plots larger
plt.rcParams['figure.figsize'] = (15, 9)

In [9]:
AAPL = pd.read_csv('AAPL.csv')
AAPL.set_index('Date')
AAPL['CloseYesterday'] = AAPL['Close'].shift(-1)
AAPL['Open2mmorow'] = AAPL['Open'].shift(-1)
AAPL['Close2dayBefore'] = AAPL['Close'].shift(-2)
AAPL.head()
# AAPL = AAPL.dropna(0)

,Date,Open,Close,High,Low,Volume,CloseYesterday,Open2mmorow,Close2dayBefore
0,4-Jan-16,102.610001,105.349998,105.370003,102.000000,67649400,102.709999,105.750000,100.699997
1,5-Jan-16,105.750000,102.709999,105.849998,102.410004,55791000,100.699997,100.559998,96.449997
2,6-Jan-16,100.559998,100.699997,102.370003,99.870003,68457400,96.449997,98.680000,96.959999
3,7-Jan-16,98.680000,96.449997,100.129997,96.430000,81094400,96.959999,98.550003,98.529999
4,8-Jan-16,98.550003,96.959999,99.110001,96.760002,70798000,98.529999,98.970001,99.959999

In [10]:
AAPL.tail(10)

,Date,Open,Close,High,Low,Volume,CloseYesterday,Open2mmorow,Close2dayBefore
868,17-Jun-19,192.899994,193.889999,194.960007,192.169998,14669100,198.449997,196.050003,197.869995
869,18-Jun-19,196.050003,198.449997,200.289993,195.210007,26551000,197.869995,199.679993,199.460007
870,19-Jun-19,199.679993,197.869995,199.880005,197.309998,21124200,199.460007,200.369995,198.779999
871,20-Jun-19,200.369995,199.460007,200.610001,198.029999,21514000,198.779999,198.800003,198.580002
872,21-Jun-19,198.800003,198.779999,200.850006,198.149994,47800600,198.580002,198.539993,195.570007
873,24-Jun-19,198.539993,198.580002,200.160004,198.169998,18220400,195.570007,198.429993,199.800003
874,25-Jun-19,198.429993,195.570007,199.259995,195.289993,21070300,199.800003,197.770004,199.740005
875,26-Jun-19,197.770004,199.800003,200.990005,197.350006,26067500,199.740005,200.289993,197.919998
876,27-Jun-19,200.289993,199.740005,201.570007,199.570007,20899700,197.919998,198.679993,NaN
877,28-Jun-19,198.679993,197.919998,199.500000,197.050003,31110600,NaN,NaN,NaN

In [11]:
# AAPL.ffill(axis = 0)
# AAPL['CloseYesterday'].fillna((AAPL['CloseYesterday'].mean()), inplace=True)
AAPL = AAPL.fillna(method='ffill')
AAPL.tail(10)

,Date,Open,Close,High,Low,Volume,CloseYesterday,Open2mmorow,Close2dayBefore
868,17-Jun-19,192.899994,193.889999,194.960007,192.169998,14669100,198.449997,196.050003,197.869995
869,18-Jun-19,196.050003,198.449997,200.289993,195.210007,26551000,197.869995,199.679993,199.460007
870,19-Jun-19,199.679993,197.869995,199.880005,197.309998,21124200,199.460007,200.369995,198.779999
871,20-Jun-19,200.369995,199.460007,200.610001,198.029999,21514000,198.779999,198.800003,198.580002
872,21-Jun-19,198.800003,198.779999,200.850006,198.149994,47800600,198.580002,198.539993,195.570007
873,24-Jun-19,198.539993,198.580002,200.160004,198.169998,18220400,195.570007,198.429993,199.800003
874,25-Jun-19,198.429993,195.570007,199.259995,195.289993,21070300,199.800003,197.770004,199.740005
875,26-Jun-19,197.770004,199.800003,200.990005,197.350006,26067500,199.740005,200.289993,197.919998
876,27-Jun-19,200.289993,199.740005,201.570007,199.570007,20899700,197.919998,198.679993,197.919998
877,28-Jun-19,198.679993,197.919998,199.500000,197.050003,31110600,197.919998,198.679993,197.919998

In [13]:
def AR_bootstrap():
    N = AAPL.shape[0] # total num days
    num_boot = 1# total num bootstrap
    T= 250 # start day
    window = 200 # training period window
    Y =AAPL['OpenTmr'][-(N-(T+1)):].values
    X = AAPL[['Close','CloseYest','Close2dayBefore']][-(N-(T+1)):].values
    T = X.shape[0]
#     print('T is: ')
#     print(T)
    X = np.column_stack([np.ones((T,1)),X])
    N = X.shape
    invXX = np.linalg.inv(X.transpose()@X)
    
    beta_hat = invXX@X.transpose()@Y
    #print(beta_hat.shape)
    y_hat = X@beta_hat+beta_hat[0]
    
    'Residuals from OLS'
    residuals = Y - y_hat
    'Variance of Residuals'
    sigma2 = (1/T)*residuals.transpose()@residuals
    'standard deviation of Y or residuals'
    sigma = np.sqrt(sigma2)
    'variance-covariance matrix of beta_hat'
    varcov_beta_hat = (sigma2)*invXX
    std_beta_hat = np.sqrt(T*np.diag(varcov_beta_hat))

    'Calculate R-square'
    R_square = 1 - (residuals.transpose()@residuals)/(T*np.var(Y))
    adj_R_square = 1-(1-R_square)*(T-1)/(T-N[1])

    'Test Each Coefficient: beta_i'
    'Null Hypothesis: beta_i = 0'
    t_stat = (beta_hat.transpose()-0)/std_beta_hat

    p_val = 1-ss.norm.cdf(t_stat)
    rmse_ar1 = np.sqrt(np.mean((Y- y_hat)**2))
    return y_hat,rmse_ar1

In [14]:
y,rmse=AR_bootstrap()
print(rmse)

1.2932094461467407

In [15]:
len(y)

625

In [16]:
AAPL['Date']

0       4-Jan-16
1       5-Jan-16
2       6-Jan-16
3       7-Jan-16
4       8-Jan-16
         ...
871    20-Jun-19
872    21-Jun-19
873    24-Jun-19
874    25-Jun-19
875    26-Jun-19
Name: Date, Length: 876, dtype: object

In [ ]:
Auto_predict[date] = AAPL[]